h1 {
  color: red;
  font-style: oblique;
  font-family: monospace;
  text-align: center;
}

h2 {
  color: black;
  font-style: oblique;
  font-family: monospace;
  text-align: center;
}

p {
  font-style: oblique;
  font-family: monospace;
  font-size: 12px;
  text-align: center;
}

li {
  list-style-position: inside;
}

ul {
  font-style: italic;
  font-family: monospace;
  color: green;
  text-shadow: 3px;
  text-align: center;
}
